html, body {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

h2, h5 {
    margin-left: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    background-color: #F9F9F9;
    border-color: #C3CAC3;
}

section > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 2px solid #C5CBC5;
}

table {
    width: 100%;
    overflow-x: auto;
}

/* Definindo larguras fixas ou proporcionais para as colunas */
table thead th:nth-child(1),
table tbody td:nth-child(1) {
    flex: 2; /* Usuário */
}

table thead th:nth-child(2),
table tbody td:nth-child(2) {
    flex: 3; /* Email */
}

table thead th:nth-child(3),
table tbody td:nth-child(3) {
    flex: 1; /* Role */
}

table thead, table tbody {
    text-align: center;
    display: block;
    width: 100%;
}

table thead tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

table tbody td {
    flex: 1;
    padding: 10px;
}