html, body {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    /* overflow-y: scroll; */
}

h2, h5 {
    margin-left: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    background-color: #f5f3f3;
    border-color: #C3CAC3;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

section > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #C5CBC5;
}

table {
    width: 100%;
    overflow-x: auto;
}

table thead, table tbody {
    text-align: center;
    display: block;
    width: 100%;
}

table thead tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

table tbody tr {
    display: flex;
    justify-content: space-evenly;
}

table tbody td, thead th {
    flex: 1;
    padding: 10px;
}

table tbody tr:not(:last-child), table thead tr{
    border-bottom: 1px solid #C5CBC5;
}

button {
    padding: 5px 30px;
    border-radius: 20px;
    border-color: #623CEA;
    color: #623CEA;
    background-color: transparent;
    /* margin: 30px 20px 5px 0; */
}