.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    z-index: 10001;
    border: 5px solid #193f77;
    border-radius: 50%;
    border-top: 5px solid rgb(252, 140, 89);
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
