<section>
    <h5>Itens excluídos são mantidos por tantos dias antes da remoção permanentes</h5>
</section>

<div class="viewPost">
    <app-filters>
        <!-- (catFilter)="getCategoria($event)"
    (tagFilter)="getByTag($event)"
    (nonSelectFilter)="getAll()"
    (ordemMudou)="atualizarOrdem($event)" -->
    </app-filters>
    <div>
        <input type="radio" name="acao" id="selectAll"> Selecionar todos
        <input type="radio" name="acao" id="restoreAll"> Restaurar todos
        <button class="btn" id="buttonTrash">Esvaziar Lixeira <i class="bi bi-trash"></i></button>
    </div>
    <div class="container">
        <div class="postList">
            <div *ngFor="let listPost of lista_teste">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>