/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body, app-root {
    height: 100%;
}

.ql-toolbar.ql-snow {
  background-color: white !important;
  border-bottom: 2px solid #8b8a8a !important;
  color: #000 !important;
}
