div.postList {
    margin: 10px 60px;
    height: 100%;
    width: 80%;
}

div.postView {
    height: 10%;
    width: 30%;
    border-radius: 10px;
    /* background-color: rgba(63, 161, 76, 0.74); */
}

div.postView div#postComposition div#postImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.postView div#postComposition div#postImage img {
    width: 100%; /* Ajusta a largura da imagem conforme o pai */
    height: auto;
}

div.postView div#postComposition div#postImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(63, 161, 76, 0.74);
    z-index: 1;
}

button.eyeButton {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para ficar exatamente no centro */
    z-index: 1; /* Garante que o botão com o ícone fique sobre a imagem */
}

div#postAction {
    display: flex;
    justify-content: space-around;
    background-color: rgba(14, 88, 24, 0.829);
    padding: 10px 0;
}

div#postAction button, button.eyeButton {
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
}