<div class="viewPost">
    <app-filters></app-filters>
    <div *ngIf="show">
        <app-delete-form (cancelForm)="showDelete()" (confirmForm)="deletePost()"></app-delete-form>
    </div>
    <div class="container">
        <div class="postList">
            <div *ngFor="let post of posts">
                <div class="postView">
                    <div id="postComposition" #postComposition>
                        <div class="categorys">{{post.categoria?.nome}}</div>
                        <div id="postImage" #postImage>
                            <button class="eyeButton" #showButton [attr.data-post-id]="post.id"><i class="bi bi-eye" style="font-weight: bold;"></i></button>
                            <img *ngIf="post.imagemCapa" [src]="post.imagemCapa.url" alt="Imagem do post">
                            <img *ngIf="!post.imagemCapa" src="../../../assets/images/no-photo.png" alt="Imagem indisponível">
                        </div>
                    </div>
                    <div id="postAction" #postAction>
                        <button #deleteButton [attr.data-post-id]="post.id"><i class="bi bi-trash3" style="font-weight: bold;"></i></button>
                        <button #editButton [attr.data-post-id]="post.id"><i class="bi bi-pencil-square" style="font-weight: bold;"></i></button>
                    </div>
                </div>
                <div class="postData">
                    <p> {{post.titulo}} </p>
                    <p> {{post.data | date: 'dd/MM/yyyy'}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
