nav {
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    list-style: none;
}

nav ul li {
    padding: 0 40px;
}

nav ul div#subMenu {
    padding-left: 50px;
}

