html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto 10%;
    /* background-color: aqua; */
}

main img {
    margin-bottom: 20px;
}

section#sobreCurso {
    margin: 10px;
    width: 100%;
}

section#sobreCurso h3 {
    margin-top: 10px;
}

section#sobreCurso div#profissionais > div.equipe {
    background-color: #E7DFC6;
    padding: 25px
}

div.equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

section#sobreCurso div#profissionais h3 {
    text-align: center;
}

div.equipe > div.docente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3F9F4C;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;

}



