<!-- <p>Filtrar por: </p> -->
<div id="flex-container-filter">
    <button><i class="bi bi-sliders2"></i>Todos os filtros</button>
    <div class="dropdown">
        <button>Categoria <i class="bi bi-chevron-down"></i></button>
        <div class="dropdown-content tags-scroll">
            <p *ngFor="let categoria of categorias" (click)="handleFilterClick(categoria.id)">
                {{ categoria.nome }}
            </p>
        </div>
    </div>
    <div class="dropdown">
        <button>Tags <i class="bi bi-chevron-down"></i></button>
        <div class="dropdown-content tags-scroll">
            <p *ngFor="let tag of tags" (click)="handleFilterClick(tag.id)">
                {{ tag.nome }}
            </p>
        </div>
    </div>
</div>