button:first-child i:first-child {
    margin-right: 10px;
    margin-left: 0;
}

button i:last-child {
    margin-left: 10px;
    margin-right: 0;
}

div#flex-container-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px auto 10px 70px;
}

div#flex-container-filter button:first-child {
    margin-right: 40px;
}

div#flex-container-filter button:last-child {
    margin-left: 40px;
}