div#postInfo {
    background-color: aliceblue;
    /* width: inherit; */
    /* margin-left: 10px; */
    flex: 1;
}

.container {
    display: flex;
    width: 100%;
    padding: 0;
    /* margin: auto 20px; */
    justify-content: center;
    align-items: center;
}

.row {
    display: flex; /* Garante que as colunas estejam lado a lado */
}

#editorElement {
    margin-right: 10px;
}

label::after {
    content: ":";
    padding-right: 10px;
}

input {
    /* margin-left: 10px; */
    width: 100%;
}

input, label, button {
    margin: 10px auto;
}

#topEditor {
    margin: 10px auto;
}

div.card-header {
    padding: 0;
}

button.btn.btn-link {
    padding: 2 auto;
}

