div#postInfo {
    background-color: aliceblue;
    /* width: inherit; */
    /* margin-left: 10px; */
    flex: 1;
}

.container {
    display: flex;
    width: 100%;
    padding: 0;
    /* margin: auto 20px; */
    justify-content: center;
    align-items: center;
}

.container > .row {
    width: 90%;
}

.col-md-3 {
    width: 24%;
}

#editorElement {
    margin-right: 10px;
}