  <nav class="navbar">
    <h3 style="text-align: center;">Quill Js Editor</h3>
  </nav>
  
  <div class="container">
    <div class="row">
      <!-- <div class="row">
        <ul>
          <li *ngFor="let item of lista">
            <a href="#" (click)="getById(item.id)">{{item.id}}</a>
          </li>
        </ul>
      </div> -->
      <div class="col-md-9" id="editorElement">
        <div class="row">
          <div class="col-nd-12">
            <quill-editor [styles]="{height: '200px'}" [modules]="modules" 
            (onEditorChanged)="changedEditor($event)" #content="ngModel" 
            [(ngModel)]="post.texto" placeholder="Por favor insira seu post aqui">
            </quill-editor>
          </div>
        </div>
        <div class="row">
          <h3 style="text-align: left;">Output</h3>
          <div class="col-md-8 bg-light">
            <p [innerHTML]="post.texto"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="saveContent()">Salvar</button>
          </div>
        </div>
      </div>
      <div class="col-md-3" id="postInfo">
        Teste
      </div>
    </div>
  </div>