.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.popUp {
    /* font-weight: 600; */
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    text-align: center;
    padding: 10px;
    background-color: #000000b7;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 10px; */
}

form label {
    display: flex;
    justify-content: flex-start;
}

form select, form input:not(form > div > input){
    border-radius: 4px;
    border: 0;
    margin-bottom: 15px;
}

input[type="submit"], input[type="button"] {
    padding: 5px 10px;
    border-radius: 15px;
    border: 0;
}

input[type="submit"] {
    background-color: #623CEA;
    color: aliceblue;
}

form select option:hover {
    background-color: #623CEA;
    color: aliceblue;
}

.toggle-password {
    /* position: absolute; */
    right: 10px;
    top: 50%;
    transform: translateY(-30px);;
    cursor: pointer;
    color: #000; /* cor preta para garantir contraste com o fundo branco */
}

input[type="password"] {
    padding-right: 2.5em; /* adiciona espaço para o ícone de olho */
}

/* Mudança de ícone ao clicar */
.fa-eye {
  display: none;
  color: #000;
}

.fa-eye-slash {
  display: block;
  color: #000;
}

input[type="text"] ~ .fa-eye-slash {
  display: none;
  color: #000;
}

input[type="text"] ~ .fa-eye {
  display: block;
  color: #000;
}