.page-background {
  background-color: #e9e9e9;
  min-height: 100vh; /* Garante que cubra toda a tela */
  padding: 40px;
  margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

div#alignContainer {
    width: 100%;
    margin: 20px auto;    
    box-sizing: border-box;
}

div#userData {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    box-sizing: border-box;
}

div.userCard {
    width: 100%;
    margin-top: 10px;
    max-width: 1200px;
    background-color: #876beb;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto)); /* responsivo */
    gap: 12px;
    justify-content: center;
}

div.cardInfo {
    margin: 5px;
    padding: 6px 12px;
    width: fit-content;
    background-color: aliceblue;
    border-left: 8px solid #3FA14C;
    border-radius: 6px;
}

div.cardInfo > p {
    margin: 0;
    display: flex;
    flex-direction: column;
}

div.viewPost{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 20px; */
    margin: 20px auto;
    padding: 0 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.container {
    border-radius: 10px;
    background-color: #876beb;
    width: 100%;
    margin-left: 2%;
    max-width: 1200px; /* Adicionar um max-width para controlar melhor o layout */
    margin: 0 auto; /* Centralizar o container */
    padding: 20px 40px;
    box-sizing: border-box;
    overflow-x: hidden;
}

div.postList {
    width: 100%;
    display: grid; /* Mudamos para grid ao invés de flex */
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de tamanho igual */
    gap: 30px;
    padding: 0;
}

div.postList div.postData {
    margin-top: 10px;
    font-weight: 600;
}

div.postList > div {
    border-radius: 10px;
    background-color: white;
    width: 100%; /* Ajusta para ocupar o espaço da coluna */
    max-width: none; /* Remove o max-width anterior */
    min-width: 0; /* Remove o min-width anterior */
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    div.postList {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas para telas menores que 1024px */
    }
}

@media (max-width: 600px) {
    div.postList {
        grid-template-columns: 1fr; /* Uma coluna para telas menores que 600px */
    }
}

div.postView {
    width: 100%; /* Fazer o postView ocupar 100% do espaço do seu container */
    height: 300px; /* Ajustar altura proporcionalmente */
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    position: relative;
}

div.postView div#postComposition {
    flex: 1;
    position: relative;
}

div.postView div#postComposition div#postImage {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.postView div#postComposition div#postImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.postView::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1;
}

div.postView:hover::before {
    background-color: rgba(63, 161, 76, 0.74);
}

button.eyeButton {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

button.eyeButton:hover,  div#postAction button:hover{
    background-color: #623CEA;
    color: white;
}

div.postView:hover button.eyeButton { 
    opacity: 1;
}

div#postAction {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 10px 0;
    opacity: 0; 
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

div.postView:hover div#postAction { 
    opacity: 1;
    background-color: rgba(14, 88, 24, 0.829);
    z-index: 1;
}

div#postAction button, button.eyeButton {
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
}

div.categorys {
    position: absolute;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    z-index: 20000;
    background-color: #3FA14C;
    padding: 10px;
    width: fit-content;
}

div.postData p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

button#buttonTrash {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 12px 24px;
    font-size: 24px;
    border-radius: 12px;
    width: fit-content;
    background-color: rgb(236, 47, 47);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.30); 
    transition: all 0.3s ease;
    color: white;
    cursor: pointer;
}

button#buttonTrash:hover {
    background-color: rgb(148, 26, 26);
    color: white;
}
