<div class="overlay">
    <div class="popUp">
        <p>{{ messageLine1 }}</p>
        <p>{{ messageLine2 }}</p>
        <div id="alignButton">
            <div class="buttonActions">
                <button #cancelButton id="cancelButton">Cancelar
                    <div><i class="bi bi-x-lg"></i></div>
                </button>
                <button #confirmButton id="confirmButton">Confirmar
                    <div><i class="bi bi-check-lg"></i></div>
                </button>    
            </div>
        </div>
    </div>
</div>
