<div class="overlay">
    <div class="popUp">
        <label for="nome">Nome</label>
        <input id="nome" type="text" [(ngModel)]="profissional.nome">

        <label for="funcao">Função</label>
        <input id="funcao" type="text" [(ngModel)]="profissional.descricao" placeholder="Descrição sobre suas funções, seus títulos acadêmicos e informações importantes">

        <div id="alignButton">
            <div class="buttonActions">
                <button #cancelButton id="cancelButton">Cancelar
                    <div><i class="bi bi-x-lg"></i></div>
                </button>
                <button #confirmButton id="confirmButton">Confirmar
                    <div><i class="bi bi-check-lg"></i></div>
                </button>    
            </div>
        </div>
    </div>
</div>
