h2 {
    margin: 50px;
    position: relative;
    width: fit-content;
}

h2::before {
    content: '';
    position: absolute;
    right: 0;  /* Começa da direita */
    top: -5px; /* Ajuste conforme necessário */
    width: 60%; /* Ajuste o comprimento da linha conforme necessário */
    height: 3px;
    background-color: #008000; /* Verde */
}

h2::after {
    content: '';
    position: absolute;
    left: 0;   /* Começa da esquerda */
    bottom: -5px;
    width: 60%;
    height: 3px;
    background-color: #4B0082; /* Roxo */
}


h2 i{
    margin-left: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#notificationsView {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    background-color: #D9D9D9;
    width: 80%;
    border-radius: 4px;
    margin: 5px auto;
    padding: 10px;
    box-sizing: border-box;
}

div#notificationsView.deleteView {
    border-right: 10px solid #aa3cea;
}

div#notificationsView.updateView {
    border-right: 10px solid #3FA14C;
}
div#notificationsView.addView {
    border-right: 10px solid #623CEA;
}

div#notificationsView.deleteView:hover {
    background-color: #aa3cea;
    transition: background-color 0.3s ease;
}

div#notificationsView.updateView:hover {
    background-color: #3FA14C;
    transition: background-color 0.3s ease;
}

div#notificationsView.addView:hover {
    background-color: #623CEA;
    transition: background-color 0.3s ease;
}

div#notification {
    width: 100%;
}

div#notificationData {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    font-weight: 500;
    margin: auto 10px;
    flex-shrink: 0;
}

div#notificationData p:first-child {
    margin-right: 5px;
}

div#notificationTitle {
    width: 100%;
    background-color: #ffff;
    flex-grow: 1;
}

div#notificationTitle p {
    margin: auto 10px;
    padding: 5px;
    border-radius: 4px;
}

div#avatar-notification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid black;
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
