section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#notificationsView {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    background-color: #D9D9D9;
    width: 80%;
    border-radius: 4px;
    margin: 5px auto;
    padding: 10px;
    box-sizing: border-box;
}

div#notification {
    width: 100%;
}

div#notificationData {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    font-weight: 500;
    margin: auto 10px;
    flex-shrink: 0;
}

div#notificationData p:first-child {
    margin-right: 5px;
}

div#notificationTitle {
    width: 100%;
    background-color: #ffff;
    flex-grow: 1;
}

div#notificationTitle p {
    margin: auto 10px;
    padding: 5px;
    border-radius: 4px;
}
