<div id="fundo">
    <h2>Notificações<i class="bi bi-bell"></i></h2>
    <section *ngFor="let notificacao of notificacoes">
        <div id="notificationsView"      
        [class.deleteView]="notificacao.acao.tipoAcao == 'DELETAR'"
        [class.addView]="notificacao.acao.tipoAcao === 'ADICIONAR'"
        [class.updateView]="notificacao.acao.tipoAcao === 'EDITAR'"
        (click)="viewPost(notificacao)">
            <div id="avatar-notification">
                <div class="avatar-circle">
                    <img src="../../../assets/images/avatar.png" alt="Avatar do usuário">
                </div>
            </div>
            <div id="notification">
                <div id="notificationData">
                    <p>{{notificacao.acao.usuario?.nomeUsuario}}</p> 
                    <ng-template [ngIf]='notificacao.acao.tipoAcao == "DELETAR"'>
                        <p> deletou um post</p>
                    </ng-template>   
                    <ng-template [ngIf]='notificacao.acao.tipoAcao == "ADICIONAR"'>
                        <p> adicionou um novo post</p>
                    </ng-template>
                    <ng-template [ngIf]='notificacao.acao.tipoAcao == "EDITAR"'>
                        <p> editou um post</p>
                    </ng-template> 
                </div>
                <div id="notificationTitle">
                    <p>{{notificacao.acao.post.titulo}}</p>
                </div>
            </div>
        </div>
    </section>
</div>

